<nav class="menu-superior">
    <div class="logo-menu">
        <i class="fas fa-school"></i>
        <h2>Controle de Acesso</h2>
    </div>
    <ul class="itens-menu">
        <li><a href="/"><i class="fas fa-home"></i> Dashboard</a></li>
        <li><a href="/historico"><i class="fas fa-history"></i> Histórico</a></li>
        <li><a href="/aluno"><i class="fas fa-users"></i> Alunos</a></li>
        <li><a href="/acesso"><i class="fas fa-user-check"></i> Liberar Acesso</a></li>
        <li><a href="/autorizado"><i class="fas fa-user-plus"></i> Funcionário</a></li>
        <li><a href="/cadastro"><i class="fas fa-user-plus"></i> Cadastro Usuário</a></li>
        <li><a href="/lista-cadastros"><i class="fas fa-list"></i> Lista de Cadastros</a></li>
        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
    </ul>
</nav>