<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autorizados - Entr.ai</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div id="menu-container"></div>

    <main class="main-content">
        <div class="card">
            <div class="card-header">
                <h2><i class="fas fa-user-plus"></i> Cadastrar Novo Aluno</h2>
            </div>
            <form id="studentForm" action="/membros" method="POST">
                <div class="input-group">
                    <i class="fas fa-user"></i>
                    <input type="text" id="name" name="name" placeholder="Seu Nome Completo" required>
                </div>
                <div class="input-group">
                    <i class="fas fa-id-card"></i>
                    <input type="text" id="cpf" name="cpf" placeholder="CPF" required>
                </div>
                <div class="input-group">
                    <i class="fas fa-camera"></i>
                    <input type="file" id="photo" name="photo" class="form-control" accept="image/*">
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Cadastrar
                </button>
            </form>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/script.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>