<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Controle de Acesso Escolar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>

<body>
    <div id="menu-container"></div>

    <main class="main-content">
        <div class="card">
            <div class="card-header">
                <h2><i class="fas fa-user-plus"></i> Preencha o formulário para cadastrar um novo Funcionario</h2>
            </div>
            <div class="login-container">

                <div class="login-header">
                    <i class="fas fa-school icon-large"></i>
                    <h1>Cadastrar Acesso</h1>
                    <p></p>
                </div>
                <div class="face-recognition">
                    <div class="video-container">
                        <!-- <video id="video" width="500" height="375" autoplay muted></video> -->
                        <img id="stream" />
                        <div class="canvas-container"></div>
                    </div>

                    <div class="recognition-controls">
                        <button class="btn btn-primary" onclick="simulateAccess()">
                            <i class="fas fa-user-check"></i> Simular Acesso
                        </button>
                        <button class="btn btn-secondary"
                            onclick="alert('Funcionalidade de cadastro facial será implementada aqui')">
                            <i class="fas fa-user-plus"></i> Cadastrar Rosto
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2><i class="fas fa-user-plus"></i> Cadastrar Novo funcionario</h2>
            </div>
            <form id="registerForm" class="login-form" action="/membros" method="post">
                <div class="input-group">
                    <i class="fas fa-user"></i>
                    <input type="text" id="regName" placeholder="Seu Nome Completo" name="name" required>
                </div>
                <div class="input-group">
                    <i class="fas fa-id-card"></i>
                    <input type="text" id="regCPF" placeholder="CPF" name="cpf" required>
                </div>

                <div class="input-group">
                    <i class="fas fa-envelope"></i>
                    <input type="email" id="regEmail" placeholder="Seu E-mail" name="mail" required>
                </div>

                <div class="input-group">
                    <!-- <i class="fas fa-id-card"></i> -->
                    <select id="regPosition" name="position" required>
                        <option value="" disabled selected>Selecione seu cargo/função</option>
                        <option value="manager">Secretária</option>
                        <option value="developer">Diretor</option>
                        <option value="designer">Professor</option>
                        <option value="analyst">Cordenador</option>
                    </select>
                </div>

                <div class="input-group">
                    <i class="fas fa-phone"></i>
                    <input type="tel" id="regPhone" placeholder="Seu Telefone" name="phone" required>
                </div>
                <div class="recognition-controls">
                    <button type="submit" class="btn btn-secondary" class="btn-login">
                        <i class="fas fa-user-check"></i> Cadastrar
                    </button>
                </div>
                <!-- <button type="submit" class="btn-login">Cadastrar <i class="fas fa-paper-plane"></i></button> -->
            </form>
        </div>
    </main>
    <script src="js/script.js"></script>
    <script>
        var socket = io.connect("{{ api_url }}");
        socket.on('stream_raw', function (frame) {
            document.getElementById('stream').src = "data:image/jpeg;base64," + frame;
        });

        socket.on('connect', function () {
            console.log("Conectado ao WebSocket!");
            socket.emit('start_stream');  // Aqui o evento é disparado para o servidor
        });

        socket.on('stream', function (frame) {
            console.log("Frame recebido!");  // Deve aparecer no console
            document.getElementById('stream').src = "data:image/jpeg;base64," + frame;
        });

        socket.on('disconnect', function () {
            console.log("WebSocket desconectado!");
        });
    </script>
    <script src="../static/js/script.js"></script>
</body>

</html>