<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Acesso - Escola</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <style>
        #stream {
            width: 200px;
            height: 200px;
            object-fit: cover; /* Ajusta a imagem sem distorcer */
            border: 1px solid #000000;
            border-radius: 10px;
        }
        
        #fotoPessoa {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border: 1px solid #000000;
            border-radius: 10px;
        }
    </style>
</head>

<body>
    <nav class="menu-superior">
        <div class="logo-menu">
            <i class="fas fa-school"></i>
            <h2>Controle de Acesso</h2>
        </div>

        <ul class="itens-menu">
            <li><a href="dashboard.html"><i class="fas fa-home"></i> Dashboard</a></li>
            <li><a href="historico.html" class=""><i class="fas fa-history"></i> Histórico</a></li>
            <li><a href="alunos.html"><i class="fas fa-users"></i> Alunos</a></li>
            <li><a href="liberarAcesso.html"><i class="fas fa-user-check"></i> Liberar Acesso</a></li>
            <li><a href="cadastro.html"><i class="fas fa-user-plus"></i> Funcionário</a></li>
            <li><a href="cadastroUsuario.html"><i class="fas fa-user-plus"></i> Cadastro Usuário</a></li>
            <li><a href="index.html"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
        </ul>
    </nav>

    <!-- Conteúdo Principal -->
    <div class="conteudo-principal">
        <div class="cartao">
            <div class="cabecalho-cartao">
                <h2><i class="fas fa-door-open"></i> Controle de Acesso Manual</h2>
            </div>
            
            <img id="stream" />
            <img id="fotoPessoa" src="static/images/default.jpg" alt="Foto do usuário">

            <div class="grupo-formulario">
                <button class="botao botao-primario" onclick="abrirPortao()">
                    <i class="fas fa-door-open"></i> Abrir Portão
                </button>
            </div>

            <h3><i class="fas fa-user-plus"></i> Registrar Entrada</h3>

            <div class="grupo-formulario">
                <!-- <input type="text" id="nome" placeholder="Nome completo"> -->
                <input list="nameList" id="searchBox" placeholder="Digite ou selecione um nome">
                <datalist id="nameList"></datalist>

                <input list="idList" id="idBox" placeholder="Digite ou selecione um ID">
                <datalist id="idList"></datalist>
            </div>

            <div class="grupo-formulario">
                <textarea id="descricao" placeholder="Motivo da entrada"></textarea>
            </div>

            <button class="botao botao-secundario" onclick="registrarEntrada()">
                <i class="fas fa-save"></i> Registrar Entrada
            </button>
            <button class="botao botao-secundario" onclick="limparCampos()">
                <i class="fas"></i> Limpar
            </button>
        </div>

        <div class="cartao">
            <div class="cabecalho-cartao">
                <h2><i class="fas fa-history"></i> Histórico de Acessos</h2>
            </div>

            <table class="tabela">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Nome</th>
                        <th>Método</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody id="tabela-registros"></tbody>
            </table>
        </div>
    </div>

    <script>
        fetch("/get_authorized_name_id") // Faz a requisição à API Flask
            .then(response => response.json())
            .then(data => {
                let nameList = document.getElementById("nameList");
                let idList = document.getElementById("idList");

                data.forEach(member => {
                    let nameOption = document.createElement("option");
                    nameOption.value = member.name;
                    nameOption.dataset.id = member.id; // Guardamos o ID no atributo `data-id`
                    nameList.appendChild(nameOption);

                    let idOption = document.createElement("option");
                    idOption.value = member.id;
                    idOption.dataset.name = member.name; // Guardamos o nome no atributo `data-name`
                    idList.appendChild(idOption);
                });
            });

        document.getElementById("searchBox").addEventListener("input", function() {
            let selectedOption = [...document.getElementById("nameList").options].find(
                option => option.value.toLowerCase() === this.value.toLowerCase()
            );
            document.getElementById("idBox").value = selectedOption ? selectedOption.dataset.id : "";
        });

        document.getElementById("idBox").addEventListener("input", function() {
            let selectedOption = [...document.getElementById("idList").options].find(
                option => option.value === this.value
            );
            document.getElementById("searchBox").value = selectedOption ? selectedOption.dataset.name : "";
        });

        function buscarFoto(id) {
            fetch(`/get_photo/${id}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById("fotoPessoa").src = data.foto;
                });
        }

        // Atualiza a foto ao selecionar um nome
        document.getElementById("searchBox").addEventListener("input", function() {
            let selectedOption = [...document.getElementById("nameList").options].find(option => option.value === this.value);
            if (selectedOption) buscarFoto(selectedOption.dataset.id);
        });

        // Atualiza a foto ao selecionar um ID
        document.getElementById("idBox").addEventListener("input", function() {
            let selectedOption = [...document.getElementById("idList").options].find(option => option.value === this.value);
            if (selectedOption) buscarFoto(selectedOption.value);
        });
    </script>

    <script>
        function abrirPortao() {
            alert("Portão aberto manualmente!");
            // Requisição para abrir o portão
            fetch("{{ url_for('esp.open_gate') }}");
        }

        function registrarEntrada() {
            const id = document.getElementById("idBox").value.trim();
            const descricao = document.getElementById('descricao').value.trim();

            if (!id) {
                alert("Preencha o nome e o ID.");
                return;
            }

            // Registrar acesso no Banco de Dados
            fetch("{{ url_for('recognitiontest.manuallogtest') }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ 
                    id: id,
                    descricao: descricao })
            })
                .then(response => response.text())
                .then(data => alert("Resposta do servidor: " + data))
                .catch(error => console.error("Erro ao enviar:", error));

            // Limpar campos
            document.getElementById('searchBox').value = '';
            document.getElementById('idBox').value = '';
            document.getElementById('descricao').value = '';;

            carregarHistorico();
        }

        function carregarHistorico() {
            fetch("{{ url_for('recognitiontest.histrectest') }}")
                .then(response => response.json())
                .then(data => {
                    const tabela = document.getElementById("tabela-registros");
                    tabela.innerHTML = ""; // Remove todo o conteúdo da tabela
                    data.forEach(usuario => {
                        const linha = `<tr>
                            <td>${usuario.date ?? ""}</td>
                            <td>${usuario.time ?? ""}</td>
                            <td>${usuario.authorized_name ?? ""}</td>
                            <td>${usuario.method ?? ""}</td>
                            <td>${usuario.description ?? ""}</td>
                        </tr>`;
                        tabela.innerHTML += linha;
                    });
                })
                .catch(error => console.error("Erro ao buscar dados:", error));
        }

        function limparCampos() {
            document.getElementById("searchBox").value = "";
            document.getElementById("idBox").value = "";
            document.getElementById("descricao").value = "";
            document.getElementById("fotoPessoa").src = "static/images/default.jpg";
        }

        // Atualizar a tabela quando a página carrega
        document.addEventListener('DOMContentLoaded', atualizarTabela);

        carregarHistorico();
    </script>

    <canvas id="canvas" style="display:none;"></canvas>

    <script>
        var socket = io.connect("{{ api_url }}");
        socket.on('stream_raw', function (frame) {
            document.getElementById('stream').src = "data:image/jpeg;base64," + frame;
        });

        socket.on('connect', function () {
            console.log("Conectado ao WebSocket!");
            socket.emit('start_stream');  // Aqui o evento é disparado para o servidor
        });

        socket.on('stream', function (frame) {
            console.log("Frame recebido!");  // Deve aparecer no console
            document.getElementById('stream').src = "data:image/jpeg;base64," + frame;
        });

        socket.on('disconnect', function () {
            console.log("WebSocket desconectado!");
        });
    </script>
</body>

</html>