<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acessos - Entr.ai</title>
    <link rel="stylesheet" href="../static/fontawesome-free-6.7.2-web/css/all.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/js/socket.io.js"></script>
</head>

<body>
    <div class="main-content">
        <div class="card">
            <img id="stream">
            <h2 id="recognized-name">Posicione o rosto no centro da câmera</h2>
        </div>
    </div>

    <script>
        var socket = io.connect("{{ api_url }}");
        socket.emit('enable_recognition'); // Ativar reconhecimento facial nesta página

        // Atualizar vídeo normal
        socket.on('stream_raw', function (frame) {
            document.getElementById('stream').src = "data:image/jpeg;base64," + frame;
        });

        // Exibir nome do rosto reconhecido
        socket.on('recognized_name', function (data) {
            if (data.name === "Desconhecido") {
                document.getElementById('recognized-name').innerText = "Rosto desconhecido";
            } else {
                // Define o tempo antes de apagar o nome (exemplo: 7 segundos)
                setTimeout(() => {
                    document.getElementById('recognized-name').innerText = "Posicione o rosto no centro da câmera";
                }, 3000);
                document.getElementById('recognized-name').innerText = "Bem vindo, " + data.name;
            }
        });
    </script>
</body>

</html>