<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Transmissão ESP32-CAM</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <h1>Transmissão do ESP32-CAM Teste</h1>
    <img id="stream" />
    <script>
        //var socket = io.connect('http://192.168.83.89:5000/'); // IP do Flask
        var socket = io.connect('http://192.168.197.89:5000/');

        socket.on('connect', function() {
            console.log("Conectado ao WebSocket!");
            socket.emit('start_stream');  // Aqui o evento é disparado para o servidor
        });

        socket.on('stream', function(frame) {
            console.log("Frame recebido!");  // Deve aparecer no console
            document.getElementById('stream').src = "data:image/jpeg;base64," + frame;
        });

        socket.on('disconnect', function() {
            console.log("WebSocket desconectado!");
        });
    </script>
</body>
</html>